.logo {
  height: 15vh;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin-right: 8%;
  text-decoration: none;
  color: black;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 25vh;
}

.center {
  display: block;
  margin: 30px auto;
  width: 85%;
}

img.design {
  width: 250px;
  border-radius: 10px;
}

div.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 1px lightgrey;
  border-radius: 10px;
  width: 250px;
  height: 100%;
  margin: 25px 12.5px 12.5px 25px;
}

.cardGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero {
  font-size: 80px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
}

.container {
  display: block;
  margin: 50px auto;
  width: 80%;
  font-family: "Rubik", sans-serif;
}

.container form {
  width: 100%;
  padding: 10px;
}

.container label {
  display: block;
  letter-spacing: 0.1rem;
  margin-bottom: 3px;
}

.container input,
.container textarea {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid lightgray;
}

.container input:focus,
.container textarea:focus {
  -webkit-box-shadow: 1px 1px 4px 1px lightgray;
          box-shadow: 1px 1px 4px 1px lightgray;
  outline: none;
}

.singleItem {
  margin: 10px 0;
}

textarea {
  font-family: "Rubik", sans-serif;
}

.btn {
  width: 100%;
  text-align: center;
}

.btn button {
  width: 150px;
  letter-spacing: 0.1rem;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
  margin-top: 5px;
}

.btn button:hover {
  cursor: pointer;
}

.msg {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  letter-spacing: 0.1rem;
  width: 340px;
  padding: 3px;
  font-size: 14px;
  font-weight: bold;
  color: #5cb85c;
  display: none;
}

.msgAppear {
  display: block;
}

@media screen and (min-width: 664px) {
  .container {
    width: 60%;
  }
}

@media screen and (min-width: 986px) {
  .container {
    width: 40%;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 15px auto;
}

.about img {
  height: 250px;
  border-radius: 10px;
}

.aboutText {
  margin-left: 20px;
}

.aboutText h3 {
  font-weight: 500;
}

.aboutText p {
  font-size: 10pt;
}
/*# sourceMappingURL=styles.css.map */